{{outlet}}

<center>
<h2>Meet our mentors!</h2>
<br>
</center>


<div class="row">
    {{#each model as |mentor|}}
    <div class="col-md-4">
      {{mentor-tile mentor=mentor}}
    </div>
  {{/each}}
</div>
